<h3>Register</h3>
<form (ngSubmit)="onSubmit()" #register="ngForm">
  <div class="row form-group">
    <div class="col">
      <input name="name" type="text" class="form-control" placeholder="Name" required [(ngModel)]="model.name">
    </div>
  </div>

  <div class="row form-group">
    <div class="col">
      <input name="email" type="text" class="form-control" placeholder="Email" required [(ngModel)]="model.email">
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <input name="password" type="password" class="form-control" placeholder="Password" required [(ngModel)]="model.password">
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
        <button type="submit" class="btn btn-primary" (click)="newRegister(); register.reset()" [disabled]="!register.form.valid">Register</button>
    </div>
  </div>
</form>
